.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  overflow-wrap: normal;
  word-break: normal;
}

@media (min-width: 768px) {
  .name {
    display: block;
    -webkit-line-clamp: none;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}